<h2><%= @post.title %> </h2> 
</br>
<strong>Topic: </strong><%= @post.topic.title %> </br>
<strong>Posted by: </strong><%= @post.user.username %> </br>
</br>
<p><%= @post.body %></p>
</br>
<strong>Comments: </strong></br>
<% @post.comments.each do |pc| %></br>
    <%= pc.text %></br>
    </br>
<% end %>
    </br>

<%= button_to "Edit Post", edit_post_path(@post), :method => :get %></br>

<%= button_to "Delete Post", { action: "destroy", id: @post.id },method: :delete %></br>

<%= button_to "Add Comment", new_comment_path, :method => :get %></br>
</br>
</br>
<%= button_to "Add a New Post", new_post_path , :method => :get %></br>

<%= button_to "Back to Posts", posts_path, :method => :get %></br>

<%= button_to "Back to Diseases", diseases_path , :method => :get %>

